@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #0E0E0E;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: sticky;
    top: 0;
}
a{
    color: #D6D1C4;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
header img{
    width: 100px;
    margin: 0 15px;
}
a:hover{
    color: #F2F2F2;
}
footer{
    background-color: #0E0E0E;
    color: #D6D1C4;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
}