@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(14,14,14,0.7);
    backdrop-filter: blur(5px);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: sticky;
    top: 0;
    height: 85px;
    width:100%;
    gap:1rem;
    z-index: 1000;
}
header nav{
    width:30vw;
    display: flex;
    flex-direction: row;
    gap:1rem;
    &:first-child{
        justify-content: flex-end;
    }
     &:last-child{
        justify-content: flex-start;
    }
}


header a{
    color: #D6D1C4;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    transition: text-shadow 0.3s ease, color 0.3s ease;
}
header img{
    width: 100px;
}
header a:hover{
    color: #7d1f1f;
    text-shadow: 3px 3px 5px rgba(188, 28, 0, 0.523);
}
footer{
    background-color: #0E0E0E;
    color: #D6D1C4;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
}
footer a{
    color: #D6D1C4;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
footer a:hover{
    color: #F2F2F2;
}
main{
    overflow-x: hidden;
    scroll-behavior:smooth ;
    background: radial-gradient(circle,rgba(18, 39, 29, 1) 0%, rgb(16, 40, 19) 48%, rgba(0, 0, 0, 1) 100%);;
}
.frontbild{
    overflow-y: hidden;
    position: relative;

}

.frontbild h1{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e3ddd0;
    font-size: 75px;
    font-family: 'Bebas Neue', cursive;
    padding-top:0.8rem;
    padding-bottom:0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border:1px solid rgba(255, 255, 255, 0);
    border-radius: 2.5rem;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    backdrop-filter: blur(3px);
}
.frontbild img{
    width: 100%;
    border: rgba(0, 0, 0, 0.5) solid 5px;

}

.frontknappar{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-direction: row;
    padding-bottom: 50px;

}

body{
    background: #000;
}

.buttON{
    width: 300px;
    height: 80px;
    background: #000;
    color: #D6D1C4;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    font-size: 50px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    margin: 0 50px;
    padding: 5px;
    text-align: center;
}

.buttON:hover{
    background: #7d1f1f;
    color: #000;
    border: 1px solid #7d1f1f;
    box-shadow: 0 0 12px #ae2727;
    transition: all 0.3s ease;
}

.fronttext p{
    color: #D6D1C4;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-spacing-trim: space-all;
    padding-bottom: 50px;
}

.storytext{
    color: #D6D1C4;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-spacing-trim: space-all;
    padding-bottom: 50px;
}

summary h1{
    display:inline;
    cursor: pointer;
}
summary h1:hover{
    color: #7d1f1f;
    text-shadow: 3px 3px 5px rgba(188, 28, 0, 0.523);
}
summary::marker{
    color: #D6D1C4;
    font-size: 40px;

}
